---
http_interactions:
- request:
    method: get
    uri: https://api.edgecast.com/v2/mcc/customers/CUSTOMER_ID/compression
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - TOKEN
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '[{"MediaTypeId":8,"Status":1,"ContentTypes":["text\/plain","text\/html","text\/css","application\/x-javascript","text\/javascript"]}]'
  recorded_at: Fri, 30 Mar 2012 07:16:13 GMT
- request:
    method: get
    uri: https://api.edgecast.com/v2/mcc/customers/CUSTOMER_ID/compression
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - XXXX
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"Message":"Invalid User"}'
  recorded_at: Fri, 30 Mar 2012 07:16:15 GMT
- request:
    method: get
    uri: https://api.edgecast.com/v2/mcc/customers/XXXX/compression
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - TOKEN
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"Message":"Invalid account number value"}'
  recorded_at: Fri, 30 Mar 2012 07:16:17 GMT
- request:
    method: get
    uri: https://api.edgecast.com/v2/mcc/customers/XXXX/compression
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - XXXX
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"Message":"Invalid User"}'
  recorded_at: Fri, 30 Mar 2012 07:16:17 GMT
recorded_with: VCR 2.0.0
