--- 
recorded_with: VCR 2.0.0
http_interactions: 
- request: 
    method: get
    uri: https://api.edgecast.com/v2/mcc/customers/CUSTOMER_ID/compression
    body: 
      string: ""
    headers: 
      Authorization: 
      - TOKEN
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "[{\"MediaTypeId\":8,\"Status\":1,\"ContentTypes\":[\"text\\/plain\",\"text\\/html\",\"text\\/css\",\"application\\/x-javascript\",\"text\\/javascript\"]}]"
  recorded_at: Mon, 26 Mar 2012 23:15:03 GMT
- request: 
    method: get
    uri: https://api.edgecast.com/v2/mcc/customers/XXXX/compression
    body: 
      string: ""
    headers: 
      Authorization: 
      - invalid
  response: 
    status: 
      code: 403
      message: Forbidden
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
    body: 
      string: "{\"Message\":\"Invalid User\"}"
  recorded_at: Mon, 26 Mar 2012 23:15:03 GMT
[...]
